.SavedOrder {
  display: flex;
  border: 1px solid black;
}

.FirstColumn {
  width: 85%;
  color: red;
}

.SecondColumn {
  width: 15%;
  margin: auto;
}

.Pending {
  color: blue;
  animation: blinkInfo 0.8s infinite ease-in-out forwards;
}

@keyframes blinkInfo {
  0% {
    color: blue
  }

  100% {
    color: green;
  }
}
